<app-navbar></app-navbar>
<div class="container">
    <h1>DUNGEONS & DRAGONS 5e</h1>
    <button type="button" class="btn btn-success" (click)="saveData()">Save</button>
    <h2>Character Information</h2>
    <div class="characterInfo box">
        <div class="rows">
            <div>
                <label>Character Name: </label>
                <input type="text" class="form-control" [(ngModel)]="vals.charName">
            </div>
            <div>
                <label>Class: </label>
                <input type="text" class="form-control" [(ngModel)]="vals.class">
            </div>
            <div>
                <label>Race: </label>
                <input type="text" class="form-control" [(ngModel)]="vals.race">
            </div>
        </div>
        <div class="rows">
            <div>
                <label>Alignment: </label>
                <input type="text" class="form-control" [(ngModel)]="vals.alignment">
            </div>
            <div>
                <label>Background:</label>
                <input type="text" class="form-control" [(ngModel)]="vals.background">
            </div>
            <div>
                <label>Level: </label>
                <input type="number" class="form-control" [(ngModel)]="vals.level">
            </div>
        </div>
    </div>
    <div class="underBasicInfo">
        <div class="column1">
            <h3 class="title">Attributes</h3>
            <div class="attributes box">
                <div class="attribute">Strength:
                    <input type="number" class="form-control" [(ngModel)]="vals.strength">
                </div>
                <div class="attribute">Dexterity:
                    <input type="number" class="form-control" [(ngModel)]="vals.dexterity">
                </div>
                <div class="attribute">Constitution:
                    <input type="number" class="form-control" [(ngModel)]="vals.constitution">
                </div>
                <div class="attribute">Intelligence:
                    <input type="number" class="form-control" [(ngModel)]="vals.intelligence">
                </div>
                <div class="attribute">Wisdom:
                    <input type="number" class="form-control" [(ngModel)]="vals.wisdom">
                </div>
                <div class="attribute">Charisma:
                    <input type="number" class="form-control" [(ngModel)]="vals.charisma">
                </div>
            </div>
            <h3 class="title">Bonuses</h3>
            <div class="bonuses box">
                <div class="inspiration">Inspiration:
                    <input type="number" class="form-control" [(ngModel)]="vals.inspiration">
                </div>
                <div class="proficiency">Proficiency Bonus:
                    <input type="number" class="form-control" [(ngModel)]="vals.proficiency">
                </div>
                <div class="passiveWis">Passive Wisdom:
                    <input type="number" class="form-control" [(ngModel)]="vals.passiveWis">
                </div>
            </div>
            <h3 class="title">Wealth</h3>
            <div class="money box">
                Copper:
                <input type="number" class="form-control" [(ngModel)]="vals.copper">
                Silver:
                <input type="number" class="form-control" [(ngModel)]="vals.silver">
                Electrum:
                <input type="number" class="form-control" [(ngModel)]="vals.electrum">
                Gold:
                <input type="number" class="form-control" [(ngModel)]="vals.gold">
                Platinum:
                <input type="number" class="form-control" [(ngModel)]="vals.platinum">
            </div>
        </div>
        <div class="column2">
            <h3 class="title">Defense and Speed</h3>
            <div class="defenseStats box">
                <div class="ac">
                    Armor Class:
                    <input type="number" class="form-control" [(ngModel)]="vals.ac">
                </div>
                <div class="initiative">
                    Initiative:
                    <input type="number" class="form-control" [(ngModel)]="vals.initiative">
                </div>
                <div class="speed">
                    Speed:
                    <input type="number" class="form-control" [(ngModel)]="vals.speed">
                </div>
                <div class="hp">
                    <div class="curHp">
                        Current HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.curHp">
                    </div>
                    <div class="maxHp">
                        Max HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.maxHp">
                    </div>
                    <div class="tempHp">
                        Temporary HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.tempHp">
                    </div>
                    <div class="hitDice">
                        Hit Dice:
                        <input type="number" class="form-control" [(ngModel)]="vals.hitDice">
                    </div>
                </div>
            </div>
            <h3 class="title">Attacks</h3>
            <div class="attacks box">
                <input type="text" class="form-control" [(ngModel)]="vals.attacks">
            </div>
            <h3 class="title">Equipment</h3>
            <div class="equipment box">
                <input type="text" class="form-control" [(ngModel)]="vals.equipment">
            </div>
            <h3 class="title">Feats:</h3>
            <div class="feats box">
                <input type="text" class="form-control" [(ngModel)]="vals.feats">
            </div>
        </div>
        <div class="column3">
            <h3 class="title">Skills</h3>
            <div class="skills box">
                <input type="checkbox" class="form-check-input">Acrobatics:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.acrobatics">
                Animal Handling:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.animalHandling">
                Arcana:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.arcana">
                Athletics:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.athletics">
                Deception:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.deception">
                History:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.history">
                Insight:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.insight">
                Intimidation:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.intimidation">
                Investigation:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.investigation">
                Medicine:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.medicine">
                Nature:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.nature">
                Percpetion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.perception">
                Performance:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.performance">
                Persuasion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.persuasion">
                Religion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.religion">
                Sleight of Hand:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.sleightOfHand">
                Stealth:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.stealth">
                Survival:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.survival">
            </div>
        </div>
    </div>

    <div class="traits box">
        <h3 class="title">Roll Playing Information</h3>
        <div class="personality">
            Personality:
            <input type="textarea" class="form-control" [(ngModel)]="vals.personality">
        </div>
        <div class="ideals">
            Ideals:
            <input type="text" class="form-control" [(ngModel)]="vals.ideals">
        </div>
        <div class="bonds">
            Bonds:
            <input type="text" class="form-control" [(ngModel)]="vals.bonds">
        </div>
        <div class="flaws">
            Flaws:
            <input type="text" class="form-control" [(ngModel)]="vals.flaws">
        </div>
    </div>



</div>