.heroes{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-wrap: wrap;
}
.badge:hover{
    background-color: adjust-hue($color: #b30000, $degrees: 0)
}
.badge{
    margin: .2em;
    transition: background-color 0.5s ease;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 150%;
    padding: 1em;
}
.newChar{
    margin: 1em;
}
li{
    list-style: none;
    
}