<app-navbar></app-navbar>
<div class="container">
    <h1>DUNGEONS & DRAGONS 5e</h1>
    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="saveData()">Save Character</button>
        <button type="button" class="btn btn-danger" (click)="deleteCharacter()">Delete Character</button>
    </div>
    <div [innerText]="saveMsg"></div>


    <h2>Character Information</h2>
    <div class="characterInfo box">
        <div class="rows">
            <div>
                Character Name: 
                <input type="text" class="form-control" [(ngModel)]="vals.charName">
            </div>
            <div>
                Class: 
                <input type="text" class="form-control" [(ngModel)]="vals.class">
            </div>
            <div>
                Race:
                <input type="text" class="form-control" [(ngModel)]="vals.race">
            </div>
        </div>
        <div class="rows">
            <div>
                Alignment: 
                <input type="text" class="form-control" [(ngModel)]="vals.alignment">
            </div>
            <div>
                Background:
                <input type="text" class="form-control" [(ngModel)]="vals.background">
            </div>
            <div>
                Level: 
                <input type="number" class="form-control" [(ngModel)]="vals.level">
            </div>
        </div>
    </div>
    <div class="underBasicInfo">
        <div class="column1">
            <h3 class="title">Attributes</h3>
            <div class="attributes box">
                <div class="attribute">Strength:
                    <input type="number" class="form-control" [(ngModel)]="vals.strength">
                    <div [innerText]="roundDown((vals.strength-10)/2)" class="modifier">
                    </div>
                </div>
                <div class="attribute">Dexterity:
                    <input type="number" class="form-control" [(ngModel)]="vals.dexterity">
                    <div [innerText]="roundDown((vals.dexterity-10)/2)" class="modifier">
                    </div>
                </div>
                <div class="attribute">Constitution:
                    <input type="number" class="form-control" [(ngModel)]="vals.constitution">
                    <div [innerText]="roundDown((vals.constitution-10)/2)" class="modifier">
                    </div>
                </div>
                <div class="attribute">Intelligence:
                    <input type="number" class="form-control" [(ngModel)]="vals.intelligence">
                    <div [innerText]="roundDown((vals.intelligence-10)/2)" class="modifier">
                    </div>
                </div>
                <div class="attribute">Wisdom:
                    <input type="number" class="form-control" [(ngModel)]="vals.wisdom">
                    <div [innerText]="roundDown((vals.wisdom-10)/2)" class="modifier">
                    </div>
                </div>
                <div class="attribute">Charisma:
                    <input type="number" class="form-control" [(ngModel)]="vals.charisma">
                    <div [innerText]="roundDown((vals.charisma-10)/2)" class="modifier">
                    </div>
                </div>
            </div>
            <h3 class="title">Bonuses</h3>
            <div class="bonuses box">
                <div class="inspiration">Inspiration:
                    <input type="number" class="form-control" [(ngModel)]="vals.inspiration">
                </div>
                <div class="proficiency">Proficiency Bonus:
                    <input type="number" class="form-control" [(ngModel)]="vals.proficiency">
                </div>
                <div class="passiveWis">Passive Wisdom:
                    <div [innerText]="10+(roundDown(vals.wisdom-10)/2)" class="modifier">
                    </div>
                </div>
            </div>
            <h3 class="title">Wealth</h3>
            <div class="money box">
                Copper:
                <input type="number" class="form-control" [(ngModel)]="vals.copper">
                Silver:
                <input type="number" class="form-control" [(ngModel)]="vals.silver">
                Electrum:
                <input type="number" class="form-control" [(ngModel)]="vals.electrum">
                Gold:
                <input type="number" class="form-control" [(ngModel)]="vals.gold">
                Platinum:
                <input type="number" class="form-control" [(ngModel)]="vals.platinum">
            </div>
        </div>
        <div class="column2">
            <h3 class="title">Defense and Speed</h3>
            <div class="defenseStats box">
                <div class="ac">
                    Armor Class:
                    <input type="number" class="form-control" [(ngModel)]="vals.ac">
                </div>
                <div class="initiative">
                    Initiative:
                    <input type="number" class="form-control" [(ngModel)]="vals.initiative">
                </div>
                <div class="speed">
                    Speed:
                    <input type="number" class="form-control" [(ngModel)]="vals.speed">
                </div>
                <div class="hp">
                    <div class="curHp">
                        Current HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.curHp">
                    </div>
                    <div class="maxHp">
                        Max HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.maxHp">
                    </div>
                    <div class="tempHp">
                        Temporary HP:
                        <input type="number" class="form-control" [(ngModel)]="vals.tempHp">
                    </div>
                    <div class="hitDice">
                        Hit Dice:
                        <input type="text" class="form-control" [(ngModel)]="vals.hitDice">
                    </div>
                </div>
            </div>
            <h3 class="title">Attacks</h3>
            <div class="attacks box">
                <textarea rows="5" class="form-control" [(ngModel)]="vals.attacks"></textarea>
            </div>
            <h3 class="title">Equipment</h3>
            <div class="equipment box">
                <textarea rows="5" class="form-control" [(ngModel)]="vals.equipment"></textarea>
            </div>
            <h3 class="title">Feats:</h3>
            <div class="feats box">
                <textarea rows="5" class="form-control" [(ngModel)]="vals.feats"></textarea>
            </div>
        </div>
        <div class="column3">
            <h3 class="title">Skills</h3>
            <div class="skills box">
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.acrobatics">
                Animal Handling:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.animalHandling">
                Arcana:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.arcana">
                Athletics:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.athletics">
                Deception:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.deception">
                History:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.history">
                Insight:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.insight">
                Intimidation:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.intimidation">
                Investigation:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.investigation">
                Medicine:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.medicine">
                Nature:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.nature">
                Percpetion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.perception">
                Performance:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.performance">
                Persuasion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.persuasion">
                Religion:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.religion">
                Sleight of Hand:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.sleightOfHand">
                Stealth:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.stealth">
                Survival:
                <input type="number" class="form-control smallInput" [(ngModel)]="vals.survival">
            </div>
        </div>
    </div>

    <div class="traits box">
        <h3 class="title">Roll Playing Information</h3>
        <div class="personality">
            Personality:
            <textarea rows="5" class="form-control" [(ngModel)]="vals.personality"></textArea>
        </div>
        <div class="ideals">
            Ideals:
            <textarea rows="5" class="form-control" [(ngModel)]="vals.ideals"></textarea>
        </div>
        <div class="bonds">
            Bonds:
            <textarea rows="5" class="form-control" [(ngModel)]="vals.bonds"></textarea>
        </div>
        <div class="flaws">
            Flaws:
            <textarea rows="5" class="form-control" [(ngModel)]="vals.flaws"></textarea>
        </div>
    </div>



</div>