/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./diceBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 5em;
}